.App {
  max-width: 960px;
  margin: 0 auto;
}


Body {
  background: rgb(215, 190, 216);
}

a{
  color: blueviolet
}


.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}